
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
/src/Controller/luckyController.php
/templates/lucky
.env.dist
.gitignore
bin/console
composer.json
composer.lock
config/bundles.php
config/packages/dev/routing.yaml
config/packages/dev/web_profiler.yaml
config/packages/doctrine.yaml
config/packages/doctrine_migrations.yaml
config/packages/framework.yaml
config/packages/prod/doctrine.yaml
config/packages/routing.yaml
config/packages/test/framework.yaml
config/packages/test/web_profiler.yaml
config/packages/twig.yaml
config/routes.yaml
config/routes/annotations.yaml
config/routes/dev/twig.yaml
config/routes/dev/web_profiler.yaml
config/services.yaml
public/index.php
src/Controller/.gitignore
src/Entity/.gitignore
src/Kernel.php
src/Migrations/.gitignore
src/Repository/.gitignore
symfony.lock
