html
{
    height: 100%;
}

body
{
    /*background-image: url("background.png");*/
    background-color: grey;
    padding-top: 65px;
    padding-bottom: 10px;
    height: 100%;
}

body > div.container
{
    height: 100%;
}

#content
{
    height: 100%;
}

article
{
    text-align: center;
    background-color: white;
    border-radius: 5px;
    object-fit: contain;
}

img
{
    max-width: 100%;
    max-height: 100%;
}

ul
{
    padding-left: 0px;
}

li
{
    list-style: none;
}

#homeLogo
{
    height: 100%;
    width: auto;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.card
{
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    object-fit: contain;
    height: 100%;
}

.cardTray
{

}

.cardTopImage
{
    display: block;
    height: 200px;
    width: 200px;
}

.cardTitle
{

}

.cardRank
{

}

.cardDescription
{

}

#nextArrow
{
    height: 100px;
}

#rankingImage
{
    max-height: 30%;
    max-width: 100%;
}

.cardElementList
{
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.cardElement
{
    list-style: none;
    padding-left: 3px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
    height: 50px;
    display: block;
}

.firstCardElement
{
    height: 100px;
}

.cardElement > img
{
    height: 100%;
    object-fit: contain;
}

.cardMain
{
}

.horizontalDivider
{
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.anchorDiv
{
    margin-bottom: 70px;
}
