{% extends 'baseLayout.html.twig' %}
{# swipe.html.twig #}
{% block categoriesButtonArgs %}active{% endblock %}
{% block body %}
    <div class="col"></div>
    <article class="col-12">
        <h1>Categories</h1>
        <ul>
            {% for category in categories %}
                <li><a href="/category/{{ category.id }}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
    </article>
    <div class="col"></div>
{% endblock %}
