{% extends 'baseLayout.html.twig' %}
{# templates/lucky/number.html.twig #}
{% block homeButtonArgs %}active{% endblock %}
{% block body %}
     <a href="/swipe"><img src={{ asset('img/logoHome.png') }} alt="TUR Logo 1"></a> 
{% endblock %}
