{% extends 'baseLayout.html.twig' %}
{# templates/lucky/number.html.twig #}
{% block homeButton %}
    <h2 class='active'>Home</h2>
{% endblock %}
{% block body %}
    <h1>Welcome on The Useless Ranking</h1>
{% endblock %}
