{% extends 'baseLayout.html.twig' %}
{# search.html.twig #}
{% block searchButton %}
    <h2 class='active'>Search</h2>
{% endblock %}
{% block body %}
    <div class="col"></div>
    <article class="col-12">
        <h1>Search</h1>
        <p>Searching : {{ searchQuery }}</p>
    <div class="col"></div>
{% endblock %}
