{% extends 'baseLayout.html.twig' %}
{# swipe.html.twig #}
{% block swipeButtonArgs %}active{% endblock %}
{% block body %}
    <h1>You are reading ranking number {{ number }}</h1>
    <a href="{{ path('app_swipe_display_card', {'rankingToDisplay': number}) }}">Go back to swiping</a>
{% endblock %}
