{% extends 'baseLayout.html.twig' %}
{# swipe.html.twig #}
{% block swipeButtonArgs %}active{% endblock %}
{% block body %}
    <h1>Displaying ranking number {{ number }}</h1>
    <a href="{{ path('app_swipe_display_ranking', {'currentRanking': number}) }}">Open ranking</a>
    <a href="{{ path('app_swipe_next', {'currentRanking': number}) }}">Next ranking</a>
{% endblock %}
